<h2>API Methods</h2>


<%# search form %>
<%= form_tag request.path_parameters['controller'], :method => 'get', :id => "method_search_form" do %>
  <p>
    <% if params[:cp_search].present? %>
     <%= hidden_field_tag :cp_search, params[:cp_search], :id => "hidden_cp_search" %>
    <% end %>
    
    <% if params[:tab].present? %>
      <%= hidden_field_tag :tab, params[:tab], :id => "hidden_tab" %>
    <% end %>
    
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%# Group tabs %>
<ul id="tabs">
  <% if @tab == "all" || @tab == nil %>
        <li class="active_tab">All</li>
    <% @groups.each do |g| %>
        <li class="inactive_tab"><%= link_to "#{g.name}", :tab => "#{g.name}", :search => params[:search], :cp_search => params[:cp_search] %></li>
    <% end %>
  <% else %>
    <%# @tab is not all %>
        <li class="inactive_tab"><%= link_to "All", :tab => "all", :search => params[:search], :cp_search => params[:cp_search] %></li>
    <% @groups.each do |g| %>
      <% if @tab == g.name %>
        <li class="active_tab"><%= g.name %></li>
      <% else %>
        <li class="inactive_tab"><%= link_to "#{g.name}", :tab => "#{g.name}", :search => params[:search], :cp_search => params[:cp_search] %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>



<%# List of methods %>
<div class="list" id ="method_list">
<% @calls.sort_by(&:method_name).each do |call| %>
  <div id ="method_<%= call.id %>">
    <h4><%= link_to_function "#{call.method_name}", "my_toggle('method_detail_#{call.id}')" %></h4> |
    <%= link_to 'Details', call, :method => :get %> |
    <%= link_to 'Edit', edit_call_path(call), :method => :get %> |

    <% # if the URL doesn't contain "admin=true" then let's not show the 'delete' button :) %>
    <% if params[:admin].to_s == "true" %>
      <%= link_to 'Delete', call, :confirm => 'Are you sure?', :method => :delete %> |
    <% end %>

    <%= link_to 'Execute', make_request_path(call), :method => :get %>

    <div class="hidden" id ="method_detail_<%= call.id %>">
      <%= field_set_tag "#{call.method_type.upcase} - #{call.endpoint_uri}" do %>
        <div class="xml">
          <% if call.xml.blank? %>
            [none]
          <% else %>
<%= call.xml %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
</div>

<br />
<%= button_to 'New Call', new_call_path, :method => :get %>
