


<h2>API Methods</h2>

<div class="list" id ="method_list">
<% @i = 0 %>
<% @calls.sort_by(&:method_name).each do |call| %>

  <div id ="method_<%= @i %>">
    <h4><%= link_to_function "#{call.method_name}", "toggle('method_detail_#{@i}')" %></h4> |
    <%= link_to 'Show', call, :method => :get %> |
    <%= link_to 'Edit', edit_call_path(call), :method => :get %> |

    <% # if the URL doesn't contain "admin=true" then let's not show the 'destroy' button %>
    <% if params[:admin].to_s == "true" %>
      <%= link_to 'Destroy', call, :confirm => 'Are you sure?', :method => :delete %> |
    <% end %>

    <%= link_to 'Execute', make_request_path(call), :method => :get %>

    <div class="method_details" id ="method_detail_<%= @i %>">
      <p><%= call.endpoint_uri %></p>
      <div class="xml"><%= call.xml %></div>
    </div>

  </div>
  <% @i += 1 %>

<% end %>
</div>

<br />
<%= button_to 'New Call', new_call_path, :method => :get %>
<br />
<br />



<br />

<h2>Common Parameters</h2>


<div class="list" id ="common_param_list">
<% @i = 0 %>
<% @common_params.sort_by(&:name).each do |common_param| %>
<% @common_param = common_param -%>
  <div id ="common_param_<%= @i %>">
    <h4><%= common_param.name %></h4>
    <%= form_for(@common_param)  do |f| %>
      <%= f.text_field :value %>
      <%= hidden_field_tag "redirect_to", "calls_path" %>
      <%= f.submit "Update" %>
    <% end %>
  </div>
<% end %>
</div>

<br />

<%= button_to 'New Parameter', new_common_param_path, :method => :get %>

