


<h2>API Methods</h2>

<table>
  <tr>
    <th>Method name</th>
    <th>Endpoint uri</th>
    <th>XML</th>
    <th></th>
    <th></th>
    <% # if the URL doesn't contain "admin=true" then let's not show the 'destroy' button %>
    <% if params[:admin].to_s == "true" %>
    <th></th>
    <% end %>
    <th></th>
  </tr>

<% @calls.sort_by(&:method_name).each do |call| %>
  <tr>
    <td><%= call.method_name %></td>
    <td><%= call.endpoint_uri %></td>
    <td><div class="xml"><%= call.xml %></div></td>
    <td><%= button_to 'Show', call, :method => :get %></td>
    <td><%= button_to 'Edit', edit_call_path(call), :method => :get %></td>
    <% # if the URL doesn't contain "admin=true" then let's not show the 'destroy' button %>
    <% if params[:admin].to_s == "true" %>
    <td><%= button_to 'Destroy', call, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
    <td><%= button_to 'Execute', make_request_path(call), :method => :get %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Call', new_call_path, :method => :get %>


<br />

<h2>Common Parameters</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>

<% @common_params.sort_by(&:name).each do |common_param| %>
<% @common_param = common_param -%>
  <tr>
    <td><%= common_param.name %></td>
    <td>
      <%= form_for(@common_param)  do |f| %>
        <%= f.text_field :value %>
        <%= hidden_field_tag "redirect_to", "calls_path" %>
        <%= f.submit "Update" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Parameter', new_common_param_path, :method => :get %>

