<h2><%= @call.method_name %></h2>

<h3>Input</h3>
<div class="indent">
  <fieldset>
    <legend>Endpoint URI:</legend>
    <%= @call.endpoint_uri %>
  </fieldset>

  <fieldset>
    <legend>Sent Headers:</legend>
    <div>User-Agent: <span class="xml_bigger"><%= @ua %></span></div>
    <div>Subno: <span class="xml_bigger"><%= @subno %></span></div>
  </fieldset>

  <fieldset>
    <legend>XML sent as:</legend>
    <div class="xml_bigger"><%= @modified_xml %></div>
  </fieldset>

  <br />
  <%= link_to 'Edit', edit_call_path(@call) %> |
  <%= link_to 'Back', calls_path %>
  <br />
</div>

<h3>Output</h3>
<div class="indent">
  <fieldset>
    <legend>Received Headers:</legend>
    <div class="xml_bigger"><%= @response.headers %></div>
  </fieldset>

  <fieldset>
    <legend>Body:</legend>
    <div class="xml_bigger"><%= @parsed_xml %></div>
  </fieldset>
</div>


<%= link_to 'Back', calls_path %>

