<p id="notice"><%= notice %></p>

<h1><%= @call.method_name %></h1>

<fieldset>
  <legend>Endpoint URI</legend>
  <div class="xml"><%= @call.endpoint_uri %></div>
</fieldset>

<fieldset>
  <legend>XML</legend>
  <div class="xml"><%= @call.xml %></div>
</fieldset>


<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %> |
<%= link_to 'Execute', make_request_path(@call), :method => :get %>

