<p id="notice"><%= notice %></p>

<h1><%= @call.method_name %> - <%= @call.group.name %></h1>

<%= field_set_tag 'Endpoint URI' do -%>
  <div class="xml"><%= @call.endpoint_uri %></div>  
<% end -%>

<%= field_set_tag 'XML' do -%>
  <div class="xml"><%= @call.xml %></div>
<% end -%>


<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %> |
<%= link_to 'Execute', make_request_path(@call), :method => :get %>

