<h2>Common Parameters</h2>

<%= form_tag home_path, :method => 'get', :id => "cp_search_form" do %>
  <p>
    <%= hidden_field_tag :search, params[:search], :id => "hidden_search" %>
    <%= hidden_field_tag :tab, params[:tab], :id => "hidden_tab" %>
    <%= text_field_tag :cp_search, params[:cp_search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div class="list" id ="common_param_list">
<% @i = 0 %>
<% @common_params.sort_by(&:name).each do |common_param| %>
<% @common_param = common_param -%>
  <div id ="common_param_<%= @i %>">
    <h4><%= common_param.name %></h4>
    <%= form_for(@common_param)  do |f| %>
      <%= f.text_field :value %>
      <%= hidden_field_tag "redirect_to", "home_path", :id => "redirect_to_#{@i}" %>
      <%= f.submit "Update", :id => "submit_#{@common_param.name}" %>
    <% end %>
  </div>
  <% @i += 1 %>
<% end %>
</div>

<br />

<%= button_to 'New Parameter', new_common_param_path, :method => :get %>
