<!DOCTYPE html>
<html>
<head>
  <title>Commerce API</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'jquery_ujs', 'application', 'rails', 'toggle' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <ul id="upper_nav">
    <li><%= link_to 'Home', root_path %><span class="divider">|</span></li>
    <li><%= link_to 'API Methods', calls_path %><span class="divider">|</span></li>
    <li><%= link_to 'Common Parameters', common_params_path %><span class="divider">|</span></li>
    <li><%= link_to 'Help', help_path %></li>
    <li><span id="user_nav">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %> <span class="divider">|</span>
        Not you? <%= link_to 'Sign Out', destroy_user_session_path  %>
      <% else %>
        <%= link_to 'Register', new_user_registration_path  %> or <%= link_to 'Sign In', new_user_session_path  %>
      <% end %>
    </li>
  </ul>

  <div id="container">
<%= yield %>
  </div>

  <ul id="lower_nav">
    <li><%= link_to 'API Methods', calls_path %><span class="divider">|</span></li>
    <li><%= link_to 'Common Parameters', common_params_path %><span class="divider">|</span></li>
    <li><%= link_to 'Help', help_path %></li>
  </ul>

</body>
</html>

