<!DOCTYPE html>
<html>
<head>
  <title>ComAPI</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <nav class="upper_nav">
    <%= link_to 'API Methods', calls_path %>
    <%= link_to 'Common Parameters', common_params_path %>
  </nav>

<%= yield %>

  <nav class="lower_nav">
    <%= link_to 'API Methods', calls_path %>
    <%= link_to 'Common Parameters', common_params_path %>
  </nav>

</body>
</html>

