<!DOCTYPE html>
<html>
<head>
  <title>Commerce API</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'toggle.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <ul id="upper_nav">
    <li><%= link_to 'Home', calls_path %><span class="divider">|</span></li>
    <li><%= link_to 'Common Parameters', common_params_path %><span class="divider">|</span></li>
    <li><%= link_to 'Help', help_path %></li>
  </ul>

  <div id="container">
<%= yield %>
  </div>

  <ul id="lower_nav">
    <li><%= link_to 'API Methods', calls_path %><span class="divider">|</span></li>
    <li><%= link_to 'Common Parameters', common_params_path %><span class="divider">|</span></li>
    <li><%= link_to 'Help', help_path %></li>
  </ul>

</body>
</html>

